
.advantages {
  margin-bottom: 49px;
}

.advantages__title {
  font-family: $title-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $title-color-text;

  margin: 0;
  margin-bottom: 40px;


  @media (min-width: 768px) {
    margin-bottom: 32px;
  }

}

.advantages__list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    gap: 37px 135px;
    padding-right: 73px;
  }

  @media (min-width: 1300px) {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    gap: 73px;
    padding-right: 0;
  }
}

.advantages__item {
  display: flex;
  gap: 20px;

  @media (min-width: 768px) {
    flex-direction: column;
    min-height: 280px;
    gap: 31px;
    padding: 40px 0;
  }
}


.advantages__item--leaf::before {
  @include advantages__item (url("../../icons/stack.svg#advantages__item--leaf"));
}

.advantages__item--water::before {
  @include advantages__item (url("../../icons/stack.svg#advantages__item--water"));
}

.advantages__item--food::before {
  @include advantages__item (url("../../icons/stack.svg#advantages__item--food"));
}

.advantages__item--watch::before {
  @include advantages__item (url("../../icons/stack.svg#advantages__item--watch"));
}

.advantages__description {
  margin: 0;
}
