.button {
  text-decoration: none;
  font-family: $title-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $contrast-color-text;
  display: inline-block;
  border: none;
  width: 100%;
  padding: 10px 0;
  background-color: $accent-color;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 26px;
  }
}

.button--light {
  background-color: $color-background;
  color: $basic-color-text;
}
