.container {

  min-width: 280px;
  margin: 0 auto;
  min-height: 100%;
  padding: 0 20px;

  @media (min-width: 768px) {
    min-width: 708px;
    padding: 0 30px;
  }

  @media (min-width: 1300px) {
    min-width: 1220px;
    padding: 0 110px;

  }
}
