.example {
  background-color: $color-background;

  min-width: 280px;

}

.example__title {
  font-family: $title-font;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $title-color-text;

  margin: 0;

}


.example__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 280px;
  display: flex;
  justify-content: space-between;

  @media (min-width: 768px) {
    width: 366px;
  }
}

.example__item {
  min-height: 56px;
  width: 124px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  text-align: center;
  position: relative;

  @media (min-width: 768px) {
    width: 162px;
  }
}

.example__term {
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  display: block;
  width: 87px;
  padding: 0 14px;
  position: absolute;
  bottom: -14px;
  left: 18px;

  background-color: $color-background;


  @media (min-width: 768px) {
    font-size: 14px;
    line-height: 14px;
    width: 142px;
    bottom: -5px;
    left: 10px;
    padding: 0 8px;
  }
}

.example__definition {
  font-family: $title-font;
  font-size: 24px;
  line-height: 24px;
  color: $title-color-text;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  padding: 14px 14px 18px;
}

.example__cost {
  font-family: $title-font;
  font-size: 14px;
  line-height: 20px;
  color: $title-color-text;
  text-transform: uppercase;
}
