.footer {
  background-color: $color-background;
}

.footer__logo {

}

.footer__social-wrapper {

}

.footer__social-list {

}

.footer__copyright-link {
  text-decoration: none;
  color: $title-color-text;
}

.footer__copyright-name {
  font-size: 16px;
  line-height: 20px;
  color: $basic-color-text;
}
