.hero {
  min-width: 280px;
  background-image: url("../../images/hero-background-mobile@1x.jpg"), linear-gradient(180deg, #63a63b 302px, transparent 302px);
  background-repeat: no-repeat;
  background-size: auto, cover;
  background-position: 50% 0;
  min-height: 400px;
  padding-top: 27px;
  position: relative;
  margin-bottom: 60px;

  @media (min-width: 768px) {
    background-image: none;
    padding-top: 65px;
    min-height: 875px;
    margin-bottom: 0;
  }

  @media (min-width: 1300px) {
    background-image: url("../../images/hero-background-desktop@1x.jpg"), linear-gradient(90deg, transparent 50%, #63a63b 50%);
    margin-bottom: 82px;
    min-height: 694px;
  }
}

.hero__container {
  @media (min-width: 768px) {
    padding-left: 110px;
  }
}

.hero__title {
  padding: 0;
  font-family: $title-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: $contrast-color-text;
  display: block;
  margin: 0 auto;
  max-width: 575px;
  text-align: center;
  margin-bottom: 25px;

  @media (min-width: 768px) {
    font-size: 60px;
    line-height: 60px;
    color: $title-color-text;
    text-align: left;
    width: 450px;
    margin: 0;
    margin-bottom: 40px;
  }
}

.hero__text {
  font-family: $title-font;
  line-height: 18px;
  text-transform: uppercase;
  color: $contrast-color-text;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 29px;
  max-width: 550px;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 50px;
    color: $title-color-text;
    text-align: left;
  }

  @media (min-width: 1300px) {
    margin-bottom: 52px;
  }
}

.hero__img {
  margin: 0;
  padding: 0;
  position: relative;
  transform: translate(-50%);
  left: 50%;

  @media (min-width: 768px) {
    z-index: -1;
    position: absolute;
    top: 266px;
    left: 20px;
    transform: translate(0);
  }

  @media (min-width: 1300px) {
    z-index: 2;
    top: 143px;
    left: 50%;
    transform: translate(-50%);
  }
}

.hero__button {
  position: absolute;
  bottom: -40px;

  @media (min-width: 768px) {
    position: relative;
    width: 244px;
    bottom: 0;
  }
}
