.hero {
  background-color: $accent-color;
  background-image: url("../../images/hero-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 302px;
}


.hero__title {
  font-family: $title-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: $contrast-color-text;
}

.hero__text {
  font-family: $title-font;
  text-transform: uppercase;
  color: $contrast-color-text;
}
