.main-header {
  @media (min-width: 768px) {
    margin-top: 25px;
  }

  @media (min-width: 1300px) {
    margin-top: 55px;
    margin-bottom: 74px;
  }

  &--index-desktop {
    @media (min-width: 1300px) {
      margin-top: 55px;
      margin-bottom: 0;
      position: absolute;
      transform: translate(-50%);
      top: 0;
      left: 50%;
      z-index: 2;
    }
  }
}

.main-header__container {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  @media (min-width: 768px) {
    padding: 0 30px;
    justify-content: start;
  }

  @media (min-width: 1300px) {
    padding: 0 40px;
  }
}

.main-header__logo-link {
  margin: 0;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 13px 15px 14px 20px;

  &--text {
    padding: 25px 10px 20px;
  }

  @media (min-width: 768px) {
    padding: 0;

    &--text {
      padding: 16px 13px;
      margin-right: auto;
    }
  }
}

.main-header__logo {
  @media (min-width: 1300px) {
    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.4;
    }
  }
}

.main-header__logo--text {
  @media (min-width: 1300px) {
    width: 118px;
    height: 21px;
  }
}

.main-header__toggle {
  width: 65px;
  height: 65px;
  text-decoration: none;
  border: none;
  display: block;
  background-color: #ffffff;
  position: relative;
  padding: 23px 20px 25px;

  @media (min-width: 768px) {
    display: none;
  }
}

.main-header__navigation--closed .main-header__toggle {
  &::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: #000000;
    box-shadow: 0 7px 0 0 #000000, 0 14px 0 0 #000000;
    top: 24px;
    right: 20px;
  }
}

.main-header__navigation--opened .main-header__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 32px;
    right: 20px;
    width: 25px;
    height: 2px;
    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-header__list {
  @media (min-width: 768px) {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: $title-font;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    position: static;
    max-width: 800px;
    background-color: transparent;
  }

  @media (min-width: 1300px) {
    font-size: 20px;
    line-height: 20px;
  }
}

.main-header__navigation--closed .main-header__list {
  @media (max-width: 767px) {
    display: none;
  }
}

.main-header__navigation--opened .main-header__list {
  margin: 0;
  display: block;
  padding: 0;
  list-style-type: none;
  font-family: $title-font;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  z-index: 2;
  width: 100%;
  max-width: 500px;

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    position: static;
    max-width: 800px;
    background-color: transparent;
  }
}

.main-header__item {
  border-top: 1px solid #e6e6e6;

  @media (min-width: 768px) {
    border-top: none;
  }
}

.main-header__item--current {
  &::after {
    @media (min-width: 768px) {
      content: "";
      margin: 0 auto;
      width: calc(100% - 32px);
      height: 2px;
      background-color: $accent-color;
      display: block;
    }

    @media (min-width: 1300px) {
      background-color: #000000;
    }
  }
}

.main-header__item--current .main-header__link {
  @media (min-width: 1300px) {
    cursor: default;

    &:hover,
 &:active {
      opacity: 1;
    }
  }
}

.main-header--index-desktop li.main-header__item--current {
  @media (min-width: 1300px) {
    &::after {
      content: "";
      margin: 0 auto;
      width: calc(100% - 32px);
      height: 1px;
      background-color: #ffffff;
      display: block;
    }
  }
}

.main-header__link {
  text-decoration: none;
  color: $title-color-text;
  display: block;
  padding: 22px 20px 24px;
  margin: 0 auto;

  @media (min-width: 768px) {
    padding: 14px 17px 8px;

    &:hover {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.3;
    }
  }

  @media (min-width: 1300px) {
    padding: 19px 18px 8px;
  }
}

.main-header--index-desktop a.main-header__link {
  @media (min-width: 1300px) {
    color: $contrast-color-text;
  }
}

.main-header__item:last-child .main-header__link {
  @media (min-width: 768px) {
    padding-right: 5px;
  }

  @media (min-width: 1300px) {
    padding-right: 0;
  }
}
