.navigation__toggle {

}

.navigation__container {

}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: $title-font;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

.navigation__item {

}

.navigation__link {
  text-decoration: none;
  color: $title-color-text;
}
