.properties {

}

.properties__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.properties__term {
  font-size: 12px;
  line-height: 16px;
}

.properties__definition {
  font-size: 12px;
  line-height: 16px;
}
