.slider {
  width: 280px;
  height: 256px;

  @media (min-width: 768px) {
    width: 560px;
    height: 512px;
  }
}

.slider__container {
  display: grid;
  grid-template-columns: 138px 4px 138px;
  width: 280px;
  height: 256px;

  @media (min-width: 768px) {
    grid-template-columns: 278px 4px 278px;
    width: 560px;
    height: 512px;
  }
}

.slider__img {
  overflow: hidden;

  &--before {
    grid-column: 1 / 2;
    height: 256px;

    @media (min-width: 768px) {
      height: 512px;
    }
  }

  &--after {
    grid-column: 3 / 4;
    height: 256px;

    @media (min-width: 768px) {
      height: 512px;
    }
  }
}

.slider__img-after {
  display: block;
  transform: translate(-50%);
}

.slider__img-before {
  display: block;
}

.slider__change-wrapper {
  grid-column: 2 / 3;
  grid-row: 2 / -2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  z-index: 2;
  position: relative;
}

/* ползунок */
.slider__change {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #666666;

  &:hover,
  &:focus {
    border: 2px solid $accent-color;
  }

  &:active {
    border: 2px solid #9ecc82;
  }

  &::before {
    content: "";
    display: block;
    width: 24px;
    height: 18px;
    mask-image: url("../../icons/stack.svg#example-arrow");
    background-color: #666666;
  }

  &:hover::before,
  &:focus::before {
    background-color: $accent-color;
  }

  &:active::before {
    background-color: $accent-color;
    opacity: 0.5;
  }

  /* линия ползунка */
  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    width: 4px;
    height: 256px;
    background-color: #666666;
    border-radius: 2px;
  }

  &:hover::after,
  &:focus::after {
    background-color: $accent-color;
  }

  &:active::after {
    background-color: #9ecc82;
  }

  @media (min-width: 768px) {
    &::after {
      height: 512px;
    }
  }
}
