.social-list {
  padding: 0;
  list-style-type: none;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 24px;
  min-width: 170px;

  @media (min-width: 768px) {
    justify-content: end;
  }
}

.social-list__link--vk {
  @include social-list__link (url("../../icons/stack.svg#social-list-vk"));
}

.social-list__link--youtube {
  @include social-list__link (url("../../icons/stack.svg#social-list-youtube"));
}

.social-list__link--telegram {
  @include social-list__link (url("../../icons/stack.svg#social-list-telegram"));
}

.footer__copyright-link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &::after {
    content: "";
    display: block;
    width: 27px;
    height: 34px;
    mask-image: url("../../icons/stack.svg#logo-html");
    background-color: #666666;

    @media (min-width: 768px) {
      margin-left: 23px;
    }
  }

  &:hover::after,
  &:focus::after {
    background-color: $accent-color;
  }


  &:active::after {
    background-color: $accent-color;
    opacity: 0.5;
  }

  @media (min-width: 768px) {
    padding: 0;
    margin: 0;
  }
}
