.footer__container {
  padding-top: 40px;

  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    padding-top: 55px;
    padding-bottom: 55px;
    justify-content: space-between;
  }

  @media (min-width: 1300px) {
    display: flex;
    align-items: center;
    padding-top: 67px;
    padding-bottom: 67px;
    justify-content: space-between;
  }
}

.footer__logo {
  padding: 0;
  display: block;
  width: 128px;
  margin: 0 auto 20px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: 768px) {
    padding: 0;
    margin: 0;
  }
}

.footer__social-wrapper {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  padding: 20px;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    border: none;
    padding: 0;
    margin: 0;
  }
}

.social-list {
  padding: 0;
  list-style-type: none;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-list__link--vk {
  @include social-list__link (url("../../icons/stack.svg#social-list-vk"));
}

.social-list__link--youtube {
  @include social-list__link (url("../../icons/stack.svg#social-list-youtube"));
}

.social-list__link--telegram {
  @include social-list__link (url("../../icons/stack.svg#social-list-telegram"));
}

.footer__copyright-link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &::after {
    content: "";
    display: block;
    width: 27px;
    height: 34px;
    mask-image: url("../../icons/stack.svg#logo-html");
    background-color: #666666;

    @media (min-width: 768px) {
      margin-left: 23px;
    }
  }

  &:hover::after,
  &:focus::after {
    background-color: $accent-color;
  }

  &:active::after {
    background-color: $accent-color;
    opacity: 0.5;
  }

  @media (min-width: 768px) {
    padding: 0;
    margin: 0;
  }
}
