.footer {
  padding-top: 40px;
}

.footer__logo {
  padding: 0;
  display: block;
  width: 128px;
  margin: 0 auto 20px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.footer__social-wrapper::after {
  content: "";
  width: 280px;
  height: 1px;
  background-color: #d9d9d9;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;


  @media (min-width: 768px) {
    display: none;
  }
}

.footer__social-wrapper::before {
  content: "";
  width: 280px;
  height: 1px;
  background-color: #d9d9d9;
  display: block;
  margin-bottom: 20px;


  @media (min-width: 768px) {
    display: none;
  }
}

.social-list {
  padding: 0;
  list-style-type: none;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-list__link--vk {
  @include social-list__link (url("../../icons/stack.svg#social-list-vk"));
}

.social-list__link--youtube {
  @include social-list__link (url("../../icons/stack.svg#social-list-youtube"));
}

.social-list__link--telegram {
  @include social-list__link (url("../../icons/stack.svg#social-list-telegram"));
}

.footer__copyright-link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &::after {
    content: "";
    display: block;
    width: 27px;
    height: 34px;
    mask-image: url("../../icons/stack.svg#logo-html");
    background-color: #666666;
  }

  &:hover::after,
  &:focus::after {
    background-color: $accent-color;
  }


  &:active::after {
    background-color: $accent-color;
    opacity: 0.5;
  }
}

