

.sub-card__product-title {
  font-family: $title-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $card-title-color-text;
  text-transform: uppercase;
}

.sub-card__product-tare {
  font-size: 14px;
  line-height: 14px;
}
