.sub-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 12px 0 18px;

  @media (min-width: 768px) {
    padding: 26px 38px 27px;
    grid-template-columns: 1fr 150px 66px;
    gap: 25px;
  }

  @media (min-width: 1300px) {
    grid-template-columns: 1fr 165px 82px 244px;
    padding: 15px 0 16px;
    align-items: center;
    gap: 40px;
  }
}

.sub-card__product-title {
  margin: 0;
  padding: 0;
  font-family: $title-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $card-title-color-text;
  text-transform: uppercase;
  grid-column: 1 / -1;
  margin-bottom: 13px;

  @media (min-width: 768px) {
    grid-column: 1/ 1 span;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
  }
}

.sub-card__product-tare {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 15px;

  @media (min-width: 768px) {
    grid-column: 2/ 1 span;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0;
    text-align: end;
  }

  @media (min-width: 1300px) {
    text-align: start;
  }
}

.sub-card__product-price {
  margin: 0;
  padding: 0;
  text-align: end;

  @media (min-width: 768px) {
    grid-column: 3/ 1 span;
    font-size: 16px;
    line-height: 20px;
  }
}

.sub-card__button {
  grid-column: 1 / -1;

  @media (min-width: 1300px) {
    grid-column: 4/ 1 span;
  }
}
