.sub-catalog__content-wrapper {
  @media (min-width: 1300px) {
    display: grid;
    grid-template-columns: 1fr 245px;
    column-gap: 81px;
  }
}

.sub-catalog__title {
  font-family: $title-font;
  font-size: 24px;
  line-height: 24px;
  color: $title-color-text;
  margin: 0;
  margin-bottom: 36px;
  display: inline-block;
  position: relative;
  width: fit-content;
  background-color: #ffffff;
  box-shadow: -40px 0 0 0 #ffffff, 40px 0 0 0 #ffffff;

  &::before {
    content: "";
    display: block;
    width: 100vw;
    height: 2px;
    right: 0;
    top: 12px;
    background-color: $accent-color;
    position: absolute;
    z-index: -1;
    box-shadow: 100vw 0 0 0 $accent-color;

    @media (min-width: 768px) {
      top: 16px;
    }

    @media (min-width: 1300px) {
      top: 20px;
    }
  }

  @media (min-width: 768px) {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 80px;
    margin-left: 40px;
  }

  @media (min-width: 1300px) {
    font-size: 40px;
    line-height: 40px;
    margin-left: 0;
  }
}

.sub-catalog__list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 35px;
  border-bottom: 1px solid #cdcdcd;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    margin-bottom: 69px;
  }

  @media (min-width: 1300px) {
    margin-bottom: 0;
  }
}

.sub-catalog__item {
  border-top: 1px solid #cdcdcd;

  @media (min-width: 768px) {
    border-right: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd;
  }

  @media (min-width: 1300px) {
    border-top: 1px solid #cdcdcd;
    border-left: none;
    border-right: none;
  }
}

.sub-catalog__bonus {
  background-color: $accent-color;
  background-image: url("../../images/bonus-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 290px;
  padding: 58px 58px 43px;
  width: 100%;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 100%;
    min-height: 200px;
    padding: 57px 125px 60px 77px;
    background-size: cover;
    background-position: 50% 65%;
  }

  @media (min-width: 1300px) {
    min-height: 290px;
    width: 245px;
    padding: 56px 42px 43px;
  }
}

.sub-catalog__bonus-description {
  font-size: 16px;
  line-height: 20px;
  color: $contrast-color-text;
  margin: 0;
  text-align: center;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    align-items: center;
  }

  @media (min-width: 1300px) {
    display: block;
    text-align: center;
  }

  &::before {
    content: "";
    min-width: 78px;
    height: 80px;
    background-image: url("../../icons/stack.svg#sub-catalog__bonus");
    display: block;
    margin-bottom: 48px;

    @media (min-width: 768px) {
      width: 80px;
      height: 82px;
      margin-bottom: 0;
      margin-right: 264px;
    }

    @media (min-width: 1300px) {
      margin: 0 auto;
      margin-bottom: 46px;
    }
  }
}
